<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    />
    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="container">
      <div class="row mt-5">
        <h1>Home page</h1>
        <hr />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
          eligendi sit facere? Molestias quasi culpa voluptates! Laboriosam in
          ab exercitationem, voluptates nihil laudantium aliquid accusantium
          asperiores quasi aspernatur expedita quia sequi, vitae quidem.
          Exercitationem fugit vero laborum reiciendis eum laboriosam, nulla
          eaque saepe placeat dolorem possimus rem minima optio nemo sunt, atque
          quisquam enim asperiores, voluptates sed ullam inventore! Ea
          voluptates, repellat eum aliquid quam velit dolor sapiente ut
          molestias veritatis quis obcaecati quisquam quos distinctio id est
          eius placeat beatae dicta saepe! Similique quasi iste nisi, distinctio
          illum sunt possimus nobis maxime deleniti expedita sed accusamus
          doloribus debitis quod?
        </p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
